#priceCompare
  height 230px
#profitRateCompare
  height 230px
#profitRatePerYearCompare
  height 230px
#overview
  .label
    display inline-block
    color black
  .content
    display inline-block
  .green
    color green
  .red
    color red
  .hide
    display none