extends layout
block content
    .container-fluid
        .row
            .col-md-2#fund-id-list
                each fundId in fundIds
                    .list-group-item(value=fundId) #{fundId}
            .col-md-10
                #overview
                    .row
                        .col-md-3
                            .row
                                div.label 基金编号
                                #fundId.content
                            .row
                                div.label 基金名称
                                #fundName.content
                        .col-md-3
                            .row
                                div.label 总成本
                                #totalCost.content
                            .row
                                div.label 总净值
                                #currentPrice.content
                        .col-md-3
                            .row
                                div.label 当前收益
                                #profitRate.content
                            .row
                                div.label 年化收益
                                #profitRatePerYear.content
                            .row
                                button#pruchaseInfoButton.btn.btn-default 查看本期投资额度
                        .col-md-3
                            .row.trading
                                div.label 当日涨跌
                                #rtProfitRate.content
                            .row.trading
                                div.label 实时年化
                                #rtProfitRatePerYear.content
                            .row.untrading.hide
                                div.label 未在交易时间
                #priceCompare
                #profitRateCompare
                #profitRatePerYearCompare

    #purchaseInfoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                    h4#myModalLabel.modal-title 本期投资额度
                .modal-body
                    .item
                        .title 投资基数
                        .data.base
                    .separator +
                    .separator (
                    .item
                        .title 亏损金额
                        .data.deficit
                    .separator *
                    .item
                        .title 追加倍数
                        .data 2
                    .separator )
                    .separator =
                    .item
                        .title 本期应投
                        .data.total
