extends layout
block content
    div
        span 交易策略
        ul
            li 1. 定时不定额，止盈不止损
    table#historyTable.display
        thead
            tr
                th 买入时间
                th 卖出时间
                th 基金ID
                th 交易策略
                th 投资基数
                th 总投入/元
                th 总赎回/元
                th 持有时长/天
                th 盈利金额/元
                th 收益率
                th 年化收益率
        tbody
        tfoot
            tr
                th
                th
                th
                th
                th
                th
                th
                th Total:
                th
                th
                th
