extends layout
block content
    .container
        .row
            .col-md-2
                each fundId in fundIds
                    a.list-group-item(href="#") #{fundId}
                //<a href="#" class="list-group-item active">免费域名注册</a>
                //<a href="#" class="list-group-item">24*7 支持</a>
            .col-md-10
                .dd yyyy