extends layout
block content
    .container-fluid
        .row
            .col-md-12
                div.login-title 你是谁
        .row
            .col-md-12
                div.content-wrap
                    div.user-wrap(data-uuid='f1bc529c-debf-4876-b525-a2797bb4443d')
                        img.avatar(src=assets+'/images/粉豆蛙.jpg')
                        div.nick 晓娴
                    div.user-wrap(data-uuid='edbeefb8-0ec8-494b-b2cd-3abc03411b8b')
                        img.avatar(src=assets+'/images/绿豆蛙.jpg')
                        div.nick 歪歪