.container
    nav.navbar.navbar-default(role='navigation')
        .container-fluid
            .navbar-header
                a.navbar-brand(href='index') LOGO
            div
                ul.nav.navbar-nav
                    li
                        a(href='wealth' name='wealth') 资产分布
                    li
                        a(href='fund' name='fund') 基金定投分析
                    li
                        a(href='#') 期待更多