nav.navbar.navbar-default(role='navigation')
    .container-fluid
        .navbar-header
            a.navbar-brand(href='#') YY
    .collapse.navbar-collapse
        ul.nav.navbar-nav
            li.active(href='#') IOS
            li Android

