nav.navbar.navbar-default(role='navigation')
    .container-fluid
        .navbar-header
            a.navbar-brand(href='#') LOGO
        div
            ul.nav.navbar-nav
                li.active
                    a(href='#') 基金定投分析
                li
                    a(href='#') 期待更多